
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 
        <p>Welcome to the CinemaCity page!</p>
        <p>We hope you enjoy the movies!</p>
    </div>
</body>
</html>
