
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>new_movies</title>
</head>
<body>
    <div> 
        <p>You can find our NEWEST MOVIES here!</p>
    </div>
</body>
</html>
