<html ng-app="ContactApp">

<head>
    <title>My Contact App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"
    >
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="appConfig.service.js"></script>
    <script src="appname.service.js"></script>
    <script src="contact.controller.js"></script>
    <script src="contactdata.service.js"></script>
</head>

<body>
    <div class="container" ng-controller="ContactCtrl as ctrl">

        <div class="row">

            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="contact in ctrl.contacts" ng-click="ctrl.selectContact($index)">
                        <span>{{ contact.name.first + " " + contact.name.last }}</span>
                    </li>
                </ul>
                <button ng-click="ctrl.addContact()">Add</button>
            </div>

            <div class="col-md-6">
                <div class="alert alert-success" ng-if="ctrl.successMessage">{{ ctrl.successMessage }}</div>
                <div class="alart alert-danger" ng-if="ctrl.errorMessage">{{ ctrl.errorMessage }}</div>

                <div class="media">
                    <div class="media-left">
                        <img ng-src="{{ ctrl.selectedContact.picture.medium }}">
                    </div>
                    <div class="media-body">
                        <button ng-hide="ctrl.editMode" ng-click="ctrl.toggleEditMode()">Edit</button>
                        <button ng-show="ctrl.editMode" ng-click="ctrl.saveUser()">Save</button>

                        <p>
                            <span>First name: </span>
                            <span ng-hide="ctrl.editMode">{{ ctrl.selectedContact.name.first }}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.name.first">
                        </p>
                        <p>
                            <span>Last name: </span>
                            <span ng-hide="ctrl.editMode">{{ ctrl.selectedContact.name.last }}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.name.last">
                        </p>

                        <div>
                            <p>
                                <h6>Location</h6>
                            </p>
                            <p>
                                Number: <span ng-hide="ctrl.editMode">{{ ctrl.selectedContact.location.street.number }}</span>
                                <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.street.number">
                            </p>
                            <p>
                                City: <span ng-hide="ctrl.editMode">{{ ctrl.selectedContact.location.city }}</span>
                                <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.city">
                            </p>
                            <p>
                                State: <span ng-hide="ctrl.editMode">{{ ctrl.selectedContact.location.state }}</span>
                                <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.state">
                            </p>
                        </div>
                        <div>
                            <p>
                                <h6>Phone</h6>
                            </p>
                            <p>
                                <span ng-hide="ctrl.editMode">{{ ctrl.selectedContact.cell }}</span>
                                <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.cell">
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
           
    </div>
</body>

</html>