
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewfilteredreservations</title>
</head>
<body>
    <div> 
        @foreach (Exercise7_Delegates_Events.Models.Reservation reservation in ViewBag.filteredReservations)
        {
            String roomType = reservation.RoomType;
            String startDate = reservation.StartDate;
            String endDate = reservation.EndDate;
            String fullName = reservation.FullName;
            String paymentMethod = reservation.PaymentMethod;
            String message = reservation.Message;
            <text>
                Room Type: @roomType <br />
                Start Date: @startDate <br />
                End Date: @endDate <br />
                Full name: @fullName <br />
                Payment method: @paymentMethod <br />
                Message: @message <br />
                <br />
            </text>
        }

        @{
            <text>
                <a href="/Home/FilterReservations">Go back to filter page...</a>
            </text>
        }
    </div>
</body>
</html>
